/* @import url(); */

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.styleHeader {
  padding: 0 0 10px 0;
  color: #ffffff;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: ease 0.8s;
  z-index: 1000;
}

.bgr-wrap{
  background: #000000;  
  opacity: 80%;
}
.styleHeaderScroll{
  background-color: transparent;
  transition: ease 1s;
}

body{
  padding: 0;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}